/* main.css */

html{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    height:100%;
    display:flex;
    flex-direction: column;
    position: relative;
    overflow:hidden;
    z-index: -11
}


.background {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    background-image: url('../assets/images/test.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -10;
}

/* Clouds */


.cloud {
    position: absolute;
}

.cloud-text {
    position: absolute;
    color: white;
    font-family: "JetBrains Mono";
    top: 21vh;
    left: 1vw;
    pointer-events: none;
    z-index: -1;
    opacity: 1;
    transition: opacity 1.0s ease 0.5s;
}

p.cloud-text.hidden {
    opacity: 0;
    pointer-events: none;
    cursor: none;
}


.cloud-sentient-container {
    position:absolute;
    width: 57vh;
    height: 57vh;
    top: 60vh; 
    left: 70vw;
}


#cloud-sentient {
    rotate: 4deg;
    width: 57vh;
    cursor: none;
    pointer-events: none; 
}

.cloud.glow {
    cursor: none;
    filter:blur(40px) brightness(100%);
    top: -1%;
    left: -1%;
    width: calc(58vh + 9%);
    height: auto;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.cloud.hidden {
    opacity: 0;
}

.disabled#cloud-sentient {
    pointer-events: none;
}

#cloud-sentient.blush {
    z-index: 4;
    opacity: 1;
    transition: opacity 1.5s ease;
}

#cloud-sentient.blush.hidden {
    opacity: 0;
}

/* Non sentient entities */

.cloud1-container {
    position: absolute;
    transform: scaleX(-1);
    left: 68vw;
    top: 11vh;
}
.cloud1 {
    width: 25vw;
    height: auto;
}

.cloud2-container {
    position: absolute;
    left: 43vw;
    top: 50vh

}
.cloud2 {
    width: 22vw;
}

.cloud3-container {
    position:absolute;
    left: 84vw;
    top: 22vh;
    rotate: 25deg;
}
.cloud3 {
    width: 15vw
}

.bird-container {
    position: absolute;
    left: 75vw;
    top: 5vh;
}
.bird {
    width: 40vh;
    height: auto;
}

.clickable.transparent {
    opacity: 0.7;
}

.clickable {
    position: absolute;
    pointer-events:all;
    cursor: pointer;
    z-index:3;

    /* To prevent overriding :hover */
    --scale-clicked: 1; 
    transform: scale(calc(var(--scale-clicked) * 1));
    transition: transform 0.3s ease;
}

.clickable:hover {
    transform:scale(calc(var(--scale-clicked) * 1.1));
}

/* Other things */

.primary-container {
    /* background-color: lightgreen; */
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    margin-left: 20vh;
    margin-top: 7vh;
    margin-bottom: 4vh;
    height: auto;
    justify-content: space-around;
    z-index:-1
}

.primary-content {
    /* background-color: pink; */
    opacity: 1;
    height: auto;
    margin-top: 3vh;
    overflow: visible;
    transition: 
        opacity 1s ease,
        margin 2s ease 1s,
        padding 2s ease 1s,
        max-height 2s ease 1s;
}

.primary-header, 
.definition {
    /* background-color: pink; */
    font-family: "JetBrains Mono";
    opacity: 1;
    /* margin:1; */
    max-height: 10vh;
    height: auto;
    overflow: visible;
    transition: 
        opacity 1s ease,
        margin 2s ease 1s,
        padding 2s ease 1s,
        max-height 2s ease 1s;
}

.primary-header {
    font-size: clamp(3vh, 5vw, 8vh);
    margin-bottom: 0.5em;
}

.definition {
    font-size: clamp(1vh, 5vw, 3vh);
    margin-top: 0.5em;
    margin-bottom: 2em;
    overflow: visible;
}

.definition {
    margin-right: 10vh;
}

/* Start Button */


#start-btn {
    color: black;
    border-color: black;
    background-color: rgb(189, 206, 220);
    font-size: clamp(1vh, 5vw, 3.2vh);
    font-family: "JetBrains Mono";
    align-self: flex-start;
    margin-top: auto;
    padding: 0.7em;
    cursor:pointer;
    position:relative;
    /* margin-bottom: 2vh; */

    transition:  
        background-color 0.3s ease,
        border-color 1.0s ease,
        font-size 2.0s ease,
        padding 2.0s ease;
}

#start-btn:hover {
    background-color: rgb(255, 255, 255);
    
}


.secondary-container {
    /* background-color: aliceblue; */
    flex-grow: 1;
}

.secondary-subcontainer {
    /* background-color: blueviolet; */
    height: 100%;
    flex-direction: row;
    display: flex;
}

/* Left Container */
.left {
    /* background-color: lightblue; */
    /* padding-left: 4%; */
    height:100%;
    flex: 4;
    color: transparent;
    opacity: 0;
    pointer-events: none;
    margin-left: 2%;
    margin-bottom: 4vh;
    margin-right: 3%;
    transition: opacity 2.0s ease;
}

/* Word cloud */
.wordcloud {
    /* background: pink; */
    width: 100%;
    height: 100%;
    position: relative;
}

.word {
    position: absolute;
    color:rgb(30, 40, 71);
    user-select: none;
    cursor: pointer;
    pointer-events: all;
    transition: text-shadow 0.2s;
    text-shadow: 0 0 30px rgba(255, 255, 255, 1); 
}

.word:hover {
    z-index: 1;
    text-shadow: 0 0 10px black;
}

.word.disabled {
    pointer-events: none;
}

/* Right Container */
.right {
    /* background-color: lightcoral; */
    flex: 3.2;
}


.blurb-container {
    position: relative;
    margin-top: 11vh;
    opacity: 0;
    transition: opacity 2.0s ease;
    pointer-events: none;

    width: fit-content;
    padding: 2.5em;
}

.blurb-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 15%;
    background: rgba(208, 207, 212, 0.644); 
    z-index: 0;
    filter: blur(8px);
}

.blurb, .last-updated {
    position: relative;
    z-index: 1;
    font-family: "JetBrains Mono";
    color: black;
    font-size: 2.5vh;
}

.blurb {
    margin-top: 0;
}

/* WORD entries panel */
.entries-container{
    background-color: rgb(226, 238, 238);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: "JetBrains Mono";
    flex:1;
    max-width: 30vw;
    margin-top: 4vh;;
    padding: 4vh;
    max-height: 27vh;
    overflow: auto;
    height: auto;
    transform: scale(1);
    z-index: 5;
    position: relative;
    
    transition:
        opacity 0.3s ease, 
        transform 0.3s ease;

}

.entries-container.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.99);
    pointer-events: none;
    z-index: -2;
    cursor: none;
}

.word-entries-container {
    background-color: beige;
    border: 2px solid rgb(112, 99, 98);
    border-radius: 10px;
}

/* entries-container scrollbar styling */
.entries-container::-webkit-scrollbar {
    width: 8px;
}
.entries-container::-webkit-scrollbar-track {
    background: #f0e6d2;
    border-radius: 999px;
}
.entries-container::-webkit-scrollbar-thumb {
    background-color: #978a7c;
    border-radius: 999px;
}

p#word-title{
    font-size: 4vh;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}

#word-title, #word-entries {
    opacity: 1;
    transition: opacity 0.3 ease;
}

#word-title.fade-out, #word-entries.fade-out {
    opacity: 0;
}

#word-entries {
    font-size: max(2vh, 16px);
}


/* ========================= */
/* Transition End States */
/* ========================= */

.fade-out {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.fade-in {
    opacity: 1;
    pointer-events: all;
    z-index: 5;
}


/* Button */
#start-btn.clicked {
    /* Override initial #start-btn styles (higher priority) */
    background-color: transparent;
    border: 2.5px solid black;
    
    padding: 2vh;
    pointer-events: none;
    z-index: 5;
}



